<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>serv</servlet-name>
        <servlet-class>Controlador.serv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>C_Login</servlet-name>
        <servlet-class>Controlador.Login.C_Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>C_Principal</servlet-name>
        <servlet-class>Controlador.Principal.C_Principal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>C_Menu</servlet-name>
        <servlet-class>Controlador.Menu.C_Menu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>C_Usuarios</servlet-name>
        <servlet-class>Controlador.Usuarios.C_Usuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>C_Roll</servlet-name>
        <servlet-class>Controlador.Roles.C_Roll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>C_Productos</servlet-name>
        <servlet-class>Controlador.Productos.C_Productos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>C_CategoriaP</servlet-name>
        <servlet-class>Controlador.CategoriaPrd.C_CategoriaP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>C_Proveedor</servlet-name>
        <servlet-class>Controlador.Proveedores.C_Proveedor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>C_Intermedia</servlet-name>
        <servlet-class>Controlador.ProducProve.C_Intermedia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>C_Boleta</servlet-name>
        <servlet-class>Controlador.Boleta.C_Boleta</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>serv</servlet-name>
        <url-pattern>/serv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>C_Login</servlet-name>
        <url-pattern>/C_Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>C_Principal</servlet-name>
        <url-pattern>/C_Principal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>C_Menu</servlet-name>
        <url-pattern>/C_Menu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>C_Usuarios</servlet-name>
        <url-pattern>/C_Usuarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>C_Roll</servlet-name>
        <url-pattern>/C_Roll</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>C_Productos</servlet-name>
        <url-pattern>/C_Productos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>C_CategoriaP</servlet-name>
        <url-pattern>/C_CategoriaP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>C_Proveedor</servlet-name>
        <url-pattern>/C_Proveedor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>C_Intermedia</servlet-name>
        <url-pattern>/C_Intermedia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>C_Boleta</servlet-name>
        <url-pattern>/C_Boleta</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
